:root {
  --nat-navbar-bg: black;
  --nat-navbar-bg: black;
  --nat-navbar-highlight-text: khaki;
  --nat-navbar-bg-rgb: 128, 0, 128;
  --nat-navbar-text-color: black;
}


html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 194, 178, 128;
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/background.jpg");
  background-size: cover;
}
body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
