.card-list .card-item .card-link {
  width: 400px;
  display:block;
  background: white;
  padding:18;
  border-radius: 12px;
  text-decoration: none;
}
.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16/9;
  height: 200px;
  object-fit: cover;
}
:root {
  --nat-navbar-bg: black;
  --nat-navbar-bg: black;
  --nat-navbar-highlight-text: khaki;
  --nat-navbar-bg-rgb: 128, 0, 128;
  --nat-navbar-text-color: black;
}


html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 194, 178, 128;
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 115%;
  padding: 0;
  margin: 0;
  background: fixed center url("/background.jpg");
  background-size: cover;
}
body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

p {
  color: black;
}

h6 {
  color:black; 
}

/* footer2 */
.footer {
  background-color: #021627;
  padding: 2rem 0;
  font-size: 0.9rem;
}
.footer-nav a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 1rem;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.language-select {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 0.25rem 0.5rem;
}
.footer-logo {
  max-width: 150px;
}
.footer-text {
  color: #7e7e7e;
  font-size: 0.8rem;
}
.footer-links a {
  color: #7e7e7e;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 0.8rem;
}
.footer-links a:hover {
  text-decoration: underline;
}
.social-icons a {
  color: #ffffff;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.rating-icons img {
  height: 60px;
  width: 50px;
}
